.box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--light-border-color);
  padding: 15px;
}

.box_image {
  height: 150px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.box_image img {
  width: 100%;
  object-fit: fill;
  height: 100%;
  background-position: center center;
  border-radius: 10px;
}

.box h5 {
  color: var(--primary-color);
  font-size: 0.7rem;
}

.box figcaption {
  border-top: 2px solid var(--light-border-color);
  /* margin-top: 10px; */
  padding: 10px;
}
